/* Universal Reset and Typography */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Logo */
#logo {
  color: darkgray;
  font-size: 38px;
  border-radius: 50%;
  padding: 7px;
  background-color: lightgray;
  text-shadow: 1px 1px 1px rgb(80, 71, 71), -1px 1px 1px rgb(80, 71, 71),
    -1px -1px 1px rgb(80, 71, 71), 1px -1px 1px rgb(80, 71, 71);
}

/* Hero */
#hero-text {
  position: relative;
  z-index: 1;
}

#hero-img {
  position: absolute;
  z-index: 0;
}

@keyframes stretch {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  50% {
    transform: scaleY(1.2);
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

.animate-text {
  display: inline-block;
  animation: stretch 2s ease forwards;
}

@keyframes zoom-in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.animate-zoom {
  animation: zoom-in 2s ease-in-out forwards;
}

/* Features Carousel */
#features {
  .carousel-wrapper {
    overflow: hidden;
    width: 90%;
  }

  .carousel {
    display: flex;
    transition: transform 0.5s ease;

    .slide {
      flex: 0 0 50%; /* Each slide takes 50% width to show two at a time */
      
      img {
        width:40vw;
        height: 25vw;
        object-fit: cover;
        transition: transform 0.5s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .btn-container {
    margin: 10px 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    transition: transform 0.3s ease;

    .btn {
      i {
        margin: 0;
        font-size: 20px;
      }
    }
  }
}

/* About */
#about-img {
  width: 300px;
  max-width: 40vw;
  padding: 20px;

  @media (max-width: 768px) {
    max-width: 90%;
  }
}

/* Contact */
#contact {
  padding: 15px;

  .contact-form-container,
  .address-container {
    width: 100%;
    max-width: 40vw;
    padding: 20px;

    @media (max-width: 768px) {
      max-width: 90%;
    }

    .address-image {
      width: 100%;
      height: auto;

      @media (max-width: 768px) {
        max-width: 300px;
      }
    }
  }

  .contact-form-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
  }

  .address-details {
    margin-top: 10px;

    .address-line {
      margin: 5px 0;
      font-size: 1rem;
      color: #333;
    }
  }
}
