/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* Logo */

  #logo {
    color: darkgray;
    font-size: 38px;
    border-radius: 50%;
    padding: 7px;
    background-color: lightgray;
    text-shadow: 1px 1px 1px rgb(80, 71, 71),
                  -1px 1px 1px rgb(80, 71, 71),
                  -1px -1px 1px rgb(80, 71, 71),
                  1px -1px 1px rgb(80, 71, 71);
  }
  
  /* Hero */

  #hero-text {
    display: relative;
    z-index: 1;
  }

  #hero-img {
    display: absolute;
    z-index: 0;
  }

  /* Features */

  #features {
    display: flex;
    flex-direction: row;

    img {
      width: 250px;
      height: 250px;
    }
  }

  @keyframes stretch {
    0% {
      transform: scaleY(0);
      opacity: 0;
    }
    50% {
      transform: scaleY(1.2);
      opacity: 1;
    }
    100% {
      transform: scaleY(1);
      opacity: 1;
    }
  }
  
  .animate-text {
    display: inline-block; /* Allows for scaling */
    animation: stretch 2s ease forwards; /* Adjust duration and easing as needed */
  }

  @keyframes zoom-in {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.2);
    }
  }

  .animate-zoom {
    animation: zoom-in 2s ease-in-out forwards;
  }